<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>الصفحات الثابتة</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">العنوان العربي </th>
                                <th scope="col">العنوان الانجليزي </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of staticPages;let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.arTitle}}</td>
                                <td>{{item.enTitle}}</td>
                                <td>
                                    <button placement="top" ngbTooltip="تعديل" class="btn-sm btn-info-gradien"
                                        (click)="openStatic(content,item)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">الصفحات الثابتة</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="arTitle">العنوان العربي</label>
                        <div class="input-group">
                            <input required #arTitle="ngModel" type="text" class="form-control" id="arTitle"
                                name="arTitle" [(ngModel)]="StaticObject.arTitle">
                        </div>
                        <div *ngIf="(arTitle.errors && arTitle.invalid && (arTitle.dirty || arTitle.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enTitle">العنوان الانجليزي</label>
                        <div class="input-group">
                            <input required #enTitle="ngModel" type="text" class="form-control" id="enTitle"
                                name="enTitle" [(ngModel)]="StaticObject.enTitle">
                        </div>
                        <div *ngIf="(enTitle.errors && enTitle.invalid && (enTitle.dirty || enTitle.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="arContent">المحتوى العربي</label>
                        <ck-editor skin="moono-lisa" language="ar" [(ngModel)]="StaticObject.arContent" id="arContent"
                            name="arContent">
                        </ck-editor>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="enContent">المحتوى العربي</label>
                        <ck-editor skin="moono-lisa" language="ar" [(ngModel)]="StaticObject.enContent" id="enContent"
                            name="enContent">
                        </ck-editor>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm"
            (click)="saveAction()">حفظ</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>