<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country_id">المدينة</label>
                                        <div class="input-group">
                                            <select required name="city_id" id="city_id" #city_id="ngModel"
                                                [(ngModel)]="searchObject.city_id" class="form-control"
                                                (change)="changeCity($event.target.value)">
                                                <option value="">اختر المدينة </option>
                                                <option *ngFor="let item of cities" value="{{item._id}}">{{item.arName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country_id">مربع التوزيع</label>
                                        <div class="input-group">
                                            <select required name="place_id" id="place_id" #place_id="ngModel"
                                                [(ngModel)]="searchObject.place_id" class="form-control"
                                                (change)="changePlace($event.target.value)">
                                                <option value="">اختر مربع التوزيع </option>
                                                <option *ngFor="let item of places" value="{{item._id}}">{{item.arName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="search()">بحث</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>قائمة المزودين بمناطق التوزيع </h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="mark-all-tasks">
                                <div class="mark-all-tasks-container">
                                    <button title="اضافة جديد" class="btn btn-success-gradien" (click)="addEdit(null)">
                                        <i class="fa fa-plus"></i> اضافة جديد
                                    </button>&nbsp;
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">المزود</th>
                                            <th scope="col">المدينة</th>
                                            <th scope="col">المنطقة</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of supplier_places;let i = index">
                                            <td>{{item?.supplier_id?.name}}</td>
                                            <td>{{item.city_id?.arName}}</td>
                                            <td>{{item?.place_id?.arName}}</td>
                                            <td>
                                                <!-- <button placement="top" ngbTooltip="عرض على الخريطة"
                                                    class="btn-sm btn-info-gradien" (click)="openMap(content,item)">
                                                    <i class="fa fa-map"></i>
                                                </button>&nbsp; -->
                                                <button placement="top" ngbTooltip="تعديل"
                                                    class="btn btn-primary-gradien" (click)="addEdit(item)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>&nbsp;
                                                <button placement="top" ngbTooltip="حذف" class="btn-sm btn-danger-gradien"
                                                    (click)="deletePlace(item._id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination *ngIf="supplier_places.length > 0" [collectionSize]="collectionCount"  [maxSize]="10"
                                #numPages [pageSize]="limit" [(page)]="page" (pageChange)="onPageChange(page)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>