<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>الرسائل الواردة</h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="mark-all-tasks">
                                <div class="mark-all-tasks-container">
                                    <button title="اضافة جديد" class="btn btn-success-gradien"
                                        (click)="openComplaints(content,null)">
                                        <i class="fa fa-plus"></i> اضافة جديد
                                    </button>&nbsp;
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">المرسل</th>
                                            <th scope="col">العنوان</th>
                                            <th scope="col">التاريخ</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of messages;let i = index">
                                            <td>{{item.from_name}}</td>
                                            <td>{{item.title}}</td>
                                            <td>{{item.createAt | date:'dd-MM-yyyy'}}</td>
                                            <td>
                                                <button placement="top" ngbTooltip="رد على الرسالة"
                                                    class="btn btn-primary-gradien"
                                                    (click)="openComplaints(content,item)">
                                                    <i class="fa fa-envelope"></i>
                                                </button>&nbsp;
                                                <button placement="top" ngbTooltip="حذف" class="btn-sm btn-danger-gradien"
                                                    (click)="deleteComplaints(item._id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination [collectionSize]="collectionCount" #numPages [pageSize]="limit"  [maxSize]="10" [(page)]="page" (pageChange)="onPageChange(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">الرد السريع</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <p>{{messageObject.msg}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="title">عنوان الرسالة</label>
                        <div class="input-group">
                            <input required #title="ngModel" type="text" class="form-control" id="title" name="title"
                                [(ngModel)]="messageObject.title" />
                        </div>
                        <div *ngIf="(title.errors && title.invalid && (title.dirty || title.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="message">نص الرسالة</label>
                        <div class="input-group">
                            <textarea required rows="3" #message="ngModel" type="text" class="form-control" id="message"
                                name="message" [(ngModel)]="messageObject.message">
                            </textarea>
                        </div>
                        <div *ngIf="(message.errors && message.invalid && (message.dirty || message.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm" (click)="saveAction()">ارسال
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>