<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>الوجهات الترحيبية</h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="mark-all-tasks">
                                <div class="mark-all-tasks-container">
                                    <button title="اضافة جديد" class="btn btn-success-gradien"
                                        (click)="openWelcomes(content,null)">
                                        <i class="fa fa-plus"></i> اضافة جديد
                                    </button>&nbsp;
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">الصورة</th>
                                            <th scope="col">الاسم العربي</th>
                                            <th scope="col">الاسم الانجليزي </th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of Welcomes;let i = index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>
                                                <img (click)="openImageModalRowDescription(item.newImage)"
                                                    class="img-60 rounded-circle cursor"
                                                    [src]="item.newImage.modal.img">
                                            </td>
                                            <td>{{item.arTitle}}</td>
                                            <td>{{item.enTitle}}</td>

                                            <td>
                                                <button placement="top" ngbTooltip="تعديل" title="تعديل"
                                                    class="btn-sm btn-info-gradien" (click)="openWelcomes(content,item)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>&nbsp;
                                                <button placement="top" ngbTooltip="حذف" class="btn-sm btn-danger-gradien"
                                                    (click)="deleteReason(item._id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">الوجهات الترحيبية</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <h6>{{welcomeObject.arTitle}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="arTitle">الاسم العربي</label>
                        <!-- <div class="input-group">
                            <div class="checkbox checkbox-dark col-md-12">
                                <input id="isDriver" name="isDriver" type="checkbox" #isDriver="ngModel"
                                    [(ngModel)]="welcomeObject.isDriver">
                                <label for="isDriver">واجهة ترحيبية في تطبيق السائق؟</label>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="arTitle">الاسم العربي</label>
                        <div class="input-group">
                            <input required #arTitle="ngModel" type="text" class="form-control" id="arTitle"
                                name="arTitle" [(ngModel)]="welcomeObject.arTitle">
                        </div>
                        <div *ngIf="(arTitle.errors && arTitle.invalid && (arTitle.dirty || arTitle.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enTitle">الاسم الانجليزي</label>
                        <div class="input-group">
                            <input required #enTitle="ngModel" type="text" class="form-control" id="enTitle"
                                name="enTitle" [(ngModel)]="welcomeObject.enTitle">
                        </div>
                        <div *ngIf="(enTitle.errors && enTitle.invalid && (enTitle.dirty || enTitle.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="arDescription">الوصف العربي</label>
                        <div class="input-group">
                            <input required #arDescription="ngModel" type="text" class="form-control" id="arDescription"
                                name="arDescription" [(ngModel)]="welcomeObject.arDescription">
                        </div>
                        <div *ngIf="(arDescription.errors && arDescription.invalid && (arDescription.dirty || arDescription.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enDescription">الوصف الانجليزي</label>
                        <div class="input-group">
                            <input required #enDescription="ngModel" type="text" class="form-control" id="enDescription"
                                name="enDescription" [(ngModel)]="welcomeObject.enDescription">
                        </div>
                        <div *ngIf="(enDescription.errors && enDescription.invalid && (enDescription.dirty || enDescription.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="icon">الصورة</label>
                        <div class="input-group">
                            <input required #icon type="file" class="form-control" id="icon" name="icon"
                                accept="image/*" (change)="processImage($event)">
                        </div>
                        <div *ngIf="(icon.errors && icon.invalid && (icon.dirty || icon.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm"
            (click)="saveAction()">حفظ</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>
<ks-modal-gallery [id]="1" [modalImages]="imagesRect" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
    [currentImageConfig]="{downloadable: true}" (buttonBeforeHook)="onButtonBeforeHook($event)"
    (buttonAfterHook)="onButtonAfterHook($event)">
</ks-modal-gallery>