<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="search_field1">بحث بحسب</label>
                                        <div class="input-group">
                                            <select name="search_field1" id="search_field1" #search_field1="ngModel"
                                                [(ngModel)]="search_field" class="form-control">
                                                <option value="full_name">الاسم</option>
                                                <option value="email">البريد الالكتروني</option>
                                                <option value="phone_number">رقم الجوال</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="search_value1">قيمة البحث</label>
                                        <input #search_value1="ngModel" type="text" class="form-control"
                                            id="search_value1" name="search_value1" [(ngModel)]="search_value" />
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-info btn-sm"
                                (click)="search()">بحث</button>&nbsp;<button type="button"
                                class="btn btn-outline-warning btn-sm" (click)="addNew()">
                                اضافة جديد</button>&nbsp;
                            <button type="button" class="btn btn-outline-success btn-sm" (click)="excel()">تصدير
                                اكسل</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let item of users">
            <div class="card custom-card">
                <div class="card-header"><img class="img-fluid" src="assets/images/user-card/7.jpg" alt=""></div>
                <div class="card-profile"><img class="img-100 rounded-circle"
                        src="{{item.image ? item.image  : 'assets/images/user/1.jpg'}}" alt=""></div>
                <ul class="card-social">
                    <li><a class="cursor danger" placement="bottom" ngbTooltip="حذف"
                            (click)="blockUnBlock(item._id, item.isBlock)"><i class="fa fa-trash"></i></a>
                    </li>
                    <!-- <li *ngIf="item.isBlock == true"><a class="cursor" placement="bottom" ngbTooltip="الغاء الحظر"
                            (click)="blockUnBlock(item._id, item.isBlock)"><i class="fa fa-check"></i></a></li> -->
                    <li><a class="cursor" placement="bottom" ngbTooltip="ارسال رسالة نصية"
                            (click)="openSMS(SMS,item._id)"><i class="fa fa-comments"></i></a></li>
                    <li><a class="cursor" placement="bottom" ngbTooltip="ارسال تنبيه"
                            (click)="openNotification(Notification,item._id)"><i class="fa fa-bell"></i></a></li>
                    <li><a class="cursor" placement="bottom" ngbTooltip="عرض تفاصيل المستخدم"
                            routerLink="/users/employee/details/{{item._id}}"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
                <div class="text-center profile-details">
                    <h4>{{item.full_name ? item.full_name : "لا يوجد اسم"}}</h4>
                    <h6>{{item.email ? item.email : "لا يوجد ايميل"}}</h6>
                    <h6>{{item.phone_number}}</h6>
                </div>
                <div class="card-footer row">
                    <div class="col-12 col-sm-12">
                        <h6>طلبات</h6>
                        <h3 class="counter">{{item.orders}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="users.length < totalElements">
        <div class="mb-3" style="margin: auto;">
            <button class="btn btn-primary btn-block btn-lg" [class.loader--text]="showLoader" (click)="loadMore()"
                [disabled]="showLoader" type="submit"><span>{{ showLoader ? '' : 'عرض المزيد' }}</span>
            </button>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<ng-template #SMS let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">ارسال رسالة نصية</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="SMS_TXT1">نص الرسالة</label>
                        <div class="input-group">
                            <input maxlength="200" required #SMS_TXT1="ngModel" type="text" class="form-control"
                                id="SMS_TXT1" name="SMS_TXT1" [(ngModel)]="SMS_TXT" />
                        </div>
                        <div *ngIf="(SMS_TXT1.errors && SMS_TXT1.invalid && (SMS_TXT1.dirty || SMS_TXT1.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm"
            (click)="sendSMS()">ارسال</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>

<ng-template #Notification let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">ارسال تنبيه</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="NOT_TITLe_TXT1">عنوان التنبيه</label>
                        <div class="input-group">
                            <input required #NOT_TITLe_TXT1="ngModel" type="text" class="form-control"
                                id="NOT_TITLe_TXT1" name="NOT_TITLe_TXT1" [(ngModel)]="NOT_TITLe_TXT" />
                        </div>
                        <div *ngIf="(NOT_TITLe_TXT1.errors && NOT_TITLe_TXT1.invalid && (NOT_TITLe_TXT1.dirty || NOT_TITLe_TXT1.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="NOT_MSG_TXT1">نص التنبيه</label>
                        <div class="input-group">
                            <input maxlength="200" required #NOT_MSG_TXT1="ngModel" type="text" class="form-control"
                                id="NOT_MSG_TXT1" name="NOT_MSG_TXT1" [(ngModel)]="NOT_MSG_TXT" />
                        </div>
                        <div *ngIf="(NOT_MSG_TXT1.errors && NOT_MSG_TXT1.invalid && (NOT_MSG_TXT1.dirty || NOT_MSG_TXT1.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm"
            (click)="sendNotification()">ارسال</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>