<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-datepicker custom-datepicker-dropdown">
                                        <div class="form-group mb-0">
                                            <label for="country_id">من تاريخ</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="من تاريخ" id="dt_from1"
                                                    name="dt_from1" [(ngModel)]="dt_from" ngbDatepicker
                                                    #f="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn calendar" (click)="f.toggle()" type="button"><i
                                                            class="fa fa-calendar"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-datepicker custom-datepicker-dropdown">
                                        <div class="form-group mb-0">
                                            <label for="country_id">الى تاريخ</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="الى تاريخ" id="dt_to1"
                                                    name="dt_to1" [(ngModel)]="dt_to" ngbDatepicker #f2="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn calendar" (click)="f2.toggle()" type="button"><i
                                                            class="fa fa-calendar"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mr-3">
                                <button type="button" class="btn btn-outline-info btn-sm"
                                    (click)="search()">بحث</button>&nbsp;
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="reset()">تفريغ
                                    الحقول</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>الحسابات والعائدات المالية</h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="table-responsive">
                                <!-- <div style="padding-right: 10px;">
                                    <label>م. خوي: </label><strong> {{Admin_Total | number : '1.2-2'}}
                                        ريال</strong>&nbsp;&nbsp;
                                    <label>م. مزود الخدمة: </label><strong> {{provider_Total | number : '1.2-2'}}
                                        ريال</strong>&nbsp;&nbsp;
                                    <label>المجموع الكلي: </label><strong> {{Total | number : '1.2-2'}}
                                        ريال</strong>&nbsp;&nbsp;
                                </div> -->
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">الاسم</th>
                                            <th scope="col">التاريخ</th>
                                            <th scope="col">المجموع</th>
                                            <!-- <th scope="col">م.منصة خوي</th> -->
                                            <!-- <th scope="col">م.مزود الخدمة</th> -->
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of orders;let i = index">
                                            <td>{{item?.order_no}}</td>
                                            <td>
                                                <span *ngIf="item.orderType == 1">
                                                    {{item?.user?.full_name}}<br>{{item?.user?.phone_number}}
                                                </span>
                                                <span *ngIf="item.orderType == 2">
                                                    {{getOfferUser(item)}}
                                                </span>
                                            </td>
                                            <td>{{item?.dt_date | date:'dd/MM/yyyy'}}</td>
                                            <td>
                                                {{item?.price}} ر.س
                                            </td>
                                            <!-- <td>{{item?.Admin_Total | number : '1.2-2'}} ر.س</td> -->
                                            <!-- <td>{{item?.provider_Total | number : '1.2-2'}} ر.س</td> -->
                                            <td>
                                                <button placement="top" ngbTooltip="عرض تفاصيل الطلب"
                                                    class="btn-sm btn-warning-gradien" (click)="openOrder(content,item)">
                                                    <i class="fa fa-list"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination *ngIf="orders.length > 0" [collectionSize]="collectionCount" #numPages  [maxSize]="10"
                                [pageSize]="limit" [(page)]="page" (pageChange)="onPageChange(page)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">تفاصيل الطلب</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <app-order-details [orderDetails]="orderDetails"></app-order-details>
    </div>
</ng-template>