<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>سلايدر الاعلانات</h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="mark-all-tasks">
                                <div class="mark-all-tasks-container">
                                    <button title="اضافة جديد" class="btn btn-success-gradien"
                                        (click)="openAdvs(content,null)">
                                        <i class="fa fa-plus"></i> اضافة جديد
                                    </button>&nbsp;
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">الصورة</th>
                                            <!-- <th scope="col">نوع الاعلان</th> -->
                                            <th scope="col">اسم الاعلان</th>
                                            <th scope="col">تاريخ الانتهاء</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of Advs;let i = index">
                                            <td scope="row">{{i+1}}</td>
                                            <td>
                                                <img class="img-60 rounded-circle" src="{{item.image}}">
                                            </td>
                                            <td>{{item.ads_for != 1 ? 'منتج' : 'رابط خارجي'}}</td>
                                            <td>{{item.arTitle}}</td>
                                            <td>{{item.expiry_date | date:'dd/MM/yyyy'}}</td>
                                            <td>
                                                <button placement="top" ngbTooltip="تعديل" class="btn btn-info-gradien"
                                                    (click)="openAdvs(content,item)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>&nbsp;
                                                <button placement="top" ngbTooltip="حذف" class="btn btn-danger-gradien"
                                                    (click)="deleteReason(item._id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">اضافة وتعديل الاعلان</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <h6>{{advObject.arTitle}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="arTitle">الاسم العربي</label>
                        <div class="input-group">
                            <input required #arTitle="ngModel" type="text" class="form-control" id="arTitle"
                                name="arTitle" [(ngModel)]="advObject.arTitle">
                        </div>
                        <div *ngIf="(arTitle.errors && arTitle.invalid && (arTitle.dirty || arTitle.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enTitle">الاسم الانجليزي</label>
                        <div class="input-group">
                            <input required #enTitle="ngModel" type="text" class="form-control" id="enTitle"
                                name="enTitle" [(ngModel)]="advObject.enTitle">
                        </div>
                        <div *ngIf="(enTitle.errors && enTitle.invalid && (enTitle.dirty || enTitle.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="arDescription">الوصف العربي</label>
                        <div class="input-group">
                            <input required #arDescription="ngModel" type="text" class="form-control" id="arDescription"
                                name="arDescription" [(ngModel)]="advObject.arDescription">
                        </div>
                        <div *ngIf="(arDescription.errors && arDescription.invalid && (arDescription.dirty || arDescription.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enDescription">الوصف الانجليزي</label>
                        <div class="input-group">
                            <input required #enDescription="ngModel" type="text" class="form-control" id="enDescription"
                                name="enDescription" [(ngModel)]="advObject.enDescription">
                        </div>
                        <div *ngIf="(enDescription.errors && enDescription.invalid && (enDescription.dirty || enDescription.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="ads_for">نوع الاعلان</label>
                        <div class="input-group">
                            <select name="ads_for" id="ads_for" #ads_for="ngModel" [(ngModel)]="advObject.ads_for"
                                class="form-control">
                                <option value="1">منتج</option>
                                <option value="3">رابط خارجي</option>
                            </select>
                        </div>
                        <div *ngIf="(ads_for.errors && ads_for.invalid && (ads_for.dirty || ads_for.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-6" *ngIf="advObject.ads_for == 3">
                    <div class="form-group">
                        <label for="url">الرابط</label>
                        <div class="input-group">
                            <input required #url="ngModel" type="url" class="form-control" id="url" name="url"
                                [(ngModel)]="advObject.url"
                                pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})">
                        </div>
                        <div *ngIf="(url.errors && url.invalid && (url.dirty || url.touched))" class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="custom-datepicker custom-datepicker-dropdown">
                        <div class="form-group mb-0">
                            <label for="expiry_date">تاريخ الانتهاء</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="تاريخ الانتهاء" id="expiry_date"
                                    name="expiry_date" [(ngModel)]="advObject.expiry_date" ngbDatepicker
                                    #f="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn calendar" (click)="f.toggle()" type="button"><i
                                            class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="icon">الصورة</label>
                        <div class="input-group">
                            <input required #icon type="file" class="form-control" id="icon" name="icon"
                                accept="image/*" (change)="processImage($event)">
                        </div>
                        <div *ngIf="(icon.errors && icon.invalid && (icon.dirty || icon.touched))"
                            class="text text-danger">
                            الحقل مطلوب
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm"
            (click)="saveAction()">حفظ</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>
<ks-modal-gallery [id]="1" [modalImages]="imagesRect" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
    [currentImageConfig]="{downloadable: true}" (buttonBeforeHook)="onButtonBeforeHook($event)"
    (buttonAfterHook)="onButtonAfterHook($event)">
</ks-modal-gallery>