<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="edit-profile">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">معلومات عامة</h4>
                        <div class="card-options">
                            <a class="card-options-collapse" [routerLink]="" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i></a>
                            <a class="card-options-remove" [routerLink]="" data-toggle="card-remove"><i
                                    class="fe fe-x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-auto">
                                <div class="sidebar-user text-left">
                                    <img class="img-60 rounded-circle cursor" (click)="pin.click()"
                                        src="{{userDetails.image ? userDetails.image  : 'assets/images/user/1.jpg'}}">
                                    <input hidden type="file" #pin accept="image/*" (change)="processImage($event)">
                                </div>
                            </div>
                            <div class="col">
                                <h5 class="mt-3">{{userDetails?.name}}</h5>
                                <p *ngIf="user_id">
                                    <ngb-rating [max]="5" [readonly]="true" [(rate)]="userDetails.rate" class="">
                                    </ngb-rating>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">الايميل</label>
                            <input required class="form-control" id="email" name="email" #email="ngModel"
                                [(ngModel)]="userDetails.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            <span *ngIf="email.invalid && email.errors.pattern">ادخل بريد الكتروني صحيح</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">كلمة المرور</label>
                            <input required class="form-control" id="password" name="password" #password="ngModel"
                                [(ngModel)]="userDetails.password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">رقم الجوال</label>
                            <input required class="form-control" id="phone_number" name="phone_number"
                                placeholder="رقم الجوال مثلا: 966591231231" #phone_number="ngModel"
                                [(ngModel)]="userDetails.phone_number" pattern="^(9665)(5|0|3|6|4|9|1|8|7)([0-9]{7})$">
                            <span *ngIf="phone_number.invalid && phone_number.errors.pattern">ادخل رقم جوال صحيح مثلا:
                                رقم الجوال
                                مثلا:
                                966591231231</span>
                            <span *ngIf="phone_number.invalid && phone_number.errors.minlength">ادخل رقم جوال صحيح
                                مثلا: رقم
                                الجوال مثلا:
                                966591231231 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">تعديل الملف الشخصي</h4>
                        <div class="card-options">
                            <a class="card-options-collapse" [routerLink]="" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i>
                            </a>
                            <a class="card-options-remove" [routerLink]="" data-toggle="card-remove"><i
                                    class="fe fe-x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">اسم مزود الخدمة</label>
                                        <input required class="form-control" type="text" id="name" name="name"
                                            #name="ngModel" [(ngModel)]="userDetails.name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">الايميل</label>
                                        <input required class="form-control" type="email" id="email" name="email"
                                            #email="ngModel" [(ngModel)]="userDetails.email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">نسبة العمولة على الطلب </label>
                                        <input required class="form-control" type="number" min="0" step="0.1" max="1"
                                            id="orderPercentage" name="orderPercentage" #orderPercentage="ngModel"
                                            [(ngModel)]="userDetails.orderPercentage"
                                            pattern="^(?:0*(?:\.\d+)?|1(\.0*)?)$">
                                        <span *ngIf="orderPercentage.invalid && orderPercentage.errors.pattern">ادخل النسبة مثال: 0.1 وهي تعادل 10%</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">المدن المدعومة</label>
                                        <ng-select name="cities" id="cities" [items]="citiesArray" bindLabel="arName"
                                            placeholder="" [multiple]="true" [dropdownPosition]="'top'"
                                            [searchable]="true" [(ngModel)]="userDetails.cities">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">نبذة</label>
                                        <textarea class="form-control" type="text" id="details" name="details"
                                            #details="ngModel" [(ngModel)]="userDetails.details"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" [class.loader--text]="showLoader"
                            [disabled]="!form.valid || showLoader" (click)="saveUser()" type="submit">
                            <span>
                                {{ showLoader ? '' : 'حفظ المعلومات'}}
                            </span>
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-header">
                                    <h5 class="pull-left">نشاطات المستخدم</h5>
                                </div> -->
                    <div class="card-body">
                        <!-- class="tabbed-card" -->
                        <ngb-tabset #t="ngbTabset" (tabChange)="beforeChange($event)" type="pills">
                            <ngb-tab id="tab-orders">
                                <ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary">
                                    <i class="icofont icofont-listine-dots"></i> الطلبات
                                </ng-template>
                                <ng-template ngbTabContent class="tab-content">
                                    <div class="tab-pane fade show">
                                        <div class="table-responsive">
                                            <table class="table card-table table-vcenter">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>المشتري</th>
                                                        <th>التاريخ</th>
                                                        <th>الوقت</th>
                                                        <th>المجموع</th>
                                                        <th>الحالة</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of orders">
                                                        <td>
                                                            <a class="text-inherit"
                                                                [routerLink]="">{{item.order_no}}</a>
                                                        </td>
                                                        <td>{{item?.user_id?.full_name}}</td>
                                                        <td>
                                                            {{item.dt_date | date:'dd-MM-yyyy'}}
                                                        </td>
                                                        <td>
                                                            {{item.dt_time}}
                                                        </td>
                                                        <td>{{item.Total}} ر.س</td>
                                                        <td>
                                                            <span *ngIf="item.StatusId == 4"
                                                                class="status-icon bg-success">تم
                                                                التنفيذ</span>
                                                            <span *ngIf="item.StatusId < 4"
                                                                class="status-icon bg-info">قيد التنفيذ
                                                                التنفيذ</span>
                                                            <span *ngIf="item.StatusId > 4"
                                                                class="status-icon bg-danger">ملغي</span>
                                                        </td>
                                                        <td class="text-right">
                                                            <button placement="top" ngbTooltip="عرض تفاصيل الطلب"
                                                                class="btn btn-warning-gradien"
                                                                (click)="openOrder(order,item)">
                                                                <i class="fa fa-list"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ngb-pagination *ngIf="orders.length > 0"  [maxSize]="10"
                                                [collectionSize]="orderCollectionCount" #orders [pageSize]="orderLimit"
                                                [(page)]="orderPage" (pageChange)="onOrderPageChange(orderPage)">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab id="tab-comments">
                                <ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary">
                                    <i class="icofont icofont-time"></i> أوقات العمل
                                </ng-template>
                                <ng-template ngbTabContent class="tab-content">
                                    <button type="button" *ngIf="this.user_id"
                                        class="btn btn-outline-success btn-sm ng-star-inserted pull-left mb-3"
                                        (click)="openDetails(content,null)">اضافة وقت جديد</button>&nbsp;

                                    <div class="tab-pane fade show">
                                        <div class="table-responsive">
                                            <table class="table card-table table-vcenter text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>الوقت</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of times">
                                                        <td>
                                                            {{item?.from}} {{item?.to}}
                                                        </td>
                                                        <td class="text-right">
                                                            <a class="icon" [routerLink]=""></a>
                                                            <a class="btn btn-primary btn-sm cursor"
                                                                (click)="openDetails(content,item)">
                                                                <i class="fa fa-edit"></i> تعديل </a>&nbsp;
                                                            <a class="btn btn-danger btn-sm cursor"
                                                                (click)="deleteTime(item._id)">
                                                                <i class="fa fa-trash"></i> حذف </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">أوقات العمل</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">من الساعة</label>
                        <input required placeholder="مثلا: 01:00" class="form-control" id="from" name="from"
                            #from="ngModel" [(ngModel)]="time.from" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$">
                        <span *ngIf="from.invalid && from.errors.pattern">ادخل وقت صحيح</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">الى الساعة</label>
                        <input required placeholder="مثلا: 13:00" class="form-control" id="to" name="to" #to="ngModel"
                            [(ngModel)]="time.to" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$">
                        <span *ngIf="to.invalid && to.errors.pattern">ادخل وقت صحيح</span>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-success btn-sm"
            (click)="saveTime()">حفظ</button>&nbsp;
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">اغلاق</button>
    </div>
</ng-template>

<ng-template #order let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">تفاصيل الطلب</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: right;">
        <app-order-details [orderDetails]="orderDetails"></app-order-details>
    </div>
</ng-template>