<form #form="ngForm">
    <div class="form-row">
        <h6 for="inputState">المعلومات الاساسية: </h6>
        <br>
        <br>
        <div class="form-row col-md-12">
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">رقم الطلب</label>
                <label class="txt2" name="ـid" #ـid id="ـid">{{orderDetails?.order_no}}</label>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">الكوبون</label>
                <label class="txt2" name="coupon" id="coupon">{{orderDetails?.couponCode}}</label>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">صاحب الطلب</label>
                <label class="txt2" name="full_name" #full_name id="full_name">
                    <span *ngIf="orderDetails?.orderType == 1">{{orderDetails?.user?.full_name}}</span>
                    <span *ngIf="orderDetails?.orderType == 2">{{getOfferUser()}}</span>
                </label>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">السعر</label>
                <label class="txt2" name="price" #price id="price">
                    {{orderDetails?.price}} ر.س
                </label>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <h6 for="inputState">المعلومات السيارة: </h6>
        <br>
        <br>
        <div class="form-row col-md-12">
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">نوع السيارة</label>
                <label class="txt2" name="carType" id="carType">{{orderDetails?.user.carType}}</label>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">موديل السيارة</label>
                <label class="txt2" name="carModel" id="carModel">{{orderDetails?.user.carModel}}</label>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">رقم السيارة</label>
                <label class="txt2" name="carNumber" id="carNumber">{{orderDetails?.user.carNumber}}</label>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">رقم السيارة</label>
                <label class="txt2" name="carColor" id="carColor">{{orderDetails?.user.carColor}}</label>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <h6 for="inputState">معلومات الطلب: </h6>
        <br>
        <br>
        <div class="form-row col-md-12">
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">الحالة</label>
                <strong *ngIf="orderDetails.status == 'new' " class="status-icon bg-info">طلب جديد</strong>
                <strong *ngIf="orderDetails.status == 'started' " class="status-icon bg-warning">قيد التنفيذ</strong>
                <strong *ngIf="orderDetails.status == 'finished' || orderDetails.status == 'rated'" class="status-icon bg-success">مكتمل</strong>
                <strong *ngIf="orderDetails.status == 'canceled_by_admin'" class="status-icon bg-danger">الغاء من الادارة</strong>
                <strong *ngIf="orderDetails.status == 'canceled_by_driver'" class="status-icon bg-danger">الغاء من السائق</strong>
                <strong *ngIf="orderDetails.status == 'canceled_by_user'" class="status-icon bg-danger">الغاء من العميل</strong>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">وسيلة الدفع</label>
                <strong>محفظة</strong>
                <!-- <strong *ngIf="orderDetails?.PaymentType == 2">دفع الكتروني</strong> -->
                <!-- <strong *ngIf="orderDetails?.PaymentType == 3">نقاط</strong> -->
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">التاريخ</label>
                <label class="txt2" name="subTotal" id="subTotal">{{orderDetails?.createAt | date:'dd/MM/yyyy'}}</label>
            </div>
            <!-- <div class="form-group col-md-3">
                <label class="txt1" for="inputState">الوقت</label>
                <label class="txt2" name="Total" id="Total">{{orderDetails?.dt_time}} </label>
            </div> -->
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">نوع الطلب</label>
                <span *ngIf="orderDetails?.orderType == 1">طلب انشاء رحلة</span>
                <span *ngIf="orderDetails?.orderType == 2">طلب رحلة</span>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">ظلب متكرر</label>
                <span *ngIf="orderDetails?.is_repeated">{{orderDetails?.days}}</span>
            </div>
            <div class="form-group col-md-3">
                <label class="txt1" for="inputState">عدد الركاب</label>
                <span>{{orderDetails?.max_passenger}}</span>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-6">
            <label class="txt1" for="inputState">عنوان البداية</label>
            <label class="txt2" name="Notes" id="Notes">{{orderDetails?.f_address}}</label>
        </div>
        <div class="form-group col-md-6">
            <label class="txt1" for="inputState">عنوان النهاية</label>
            <label class="txt2" name="Notes" id="Notes">{{orderDetails?.t_address}}</label>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-12">
            <label class="txt1" for="inputState">الملاحظات</label>
            <label class="txt2" name="Notes" id="Notes">{{orderDetails?.notes}}</label>
        </div>
        <div class="form-group col-md-12">
            <label class="txt1" for="inputState">سبب الرفض</label>
            <label class="txt2" name="Notes" id="Notes">{{orderDetails?.canceled_note}}</label>
        </div>
    </div>
    <div class="form-row mt-3" *ngIf="orderDetails.offers.length > 0">
        <h6 for="inputState">العروض: </h6>
        <br>
        <div class="form-row col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">الاسم</th>
                            <th scope="col">من</th>
                            <th scope="col">الى</th>
                            <th scope="col">التاريخ</th>
                            <th scope="col">الوقت</th>
                            <th scope="col">السعر</th>
                            <th scope="col">الحالة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderDetails?.offers;let i = index">
                            <td>{{item?.user?.full_name}}</td>
                            <td>{{item?.f_address}}</td>
                            <td>{{item?.t_address}}</td>
                            <td>{{item?.dt_date | date:'dd/MM/yyyy'}}</td>
                            <td>{{item?.dt_time}}</td>
                            <td>{{item?.price}}</td>
                            <td>
                                <span *ngIf="item?.status == 'add_offer'">اضاف عرض</span>
                                <span *ngIf="item?.status == 'accept_offer'">تم القبول</span>
                                <span *ngIf="item?.status == 'reject_offer'">تم الرفض </span>
                                <span *ngIf="item?.status == 'attend'">تم الحضور</span>
                                <span *ngIf="item?.status == 'not_attend'">لم يتم الحضور</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="">
        <agm-map [latitude]="orderDetails?.f_lat" [longitude]="orderDetails?.f_lng" [zoom]="zoom_m1" [scrollwheel]="true"
            [disableDoubleClickZoom]="false" [mapDraggable]="true" [zoomControl]="true" [mapTypeControl]="true"
            [mapTypeId]="'hybrid'">
            <!-- <agm-direction [origin]="origin" [destination]="destination"></agm-direction> -->
            <agm-marker [latitude]="orderDetails?.f_lat" [longitude]="orderDetails?.f_lng">
                <agm-info-window>
                    {{orderDetails.f_address}}
                </agm-info-window>
            </agm-marker>

            <agm-marker [latitude]="orderDetails?.t_lat" [longitude]="orderDetails?.t_lng">
                <agm-info-window>
                    {{orderDetails.t_address}}
                </agm-info-window>
            </agm-marker>

        </agm-map>
    </div>
</form>